<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <h2>My Todo App</h2>
    <p>Found <span th:text="${todoList.size()}"></span> items</p>

    <ol>
        <li th:each="todoItem : ${todoList}" th:text="${todoItem.todo}"></li>
    </ol>
</body>
</html>